html,
body {
    height: 100%;
}

#fb-root,
#nav-back,
.drum-games-container header,
.drum-games-container article,
.drum-games-container footer,
.drum-games-container .drum-games-more {
    display: none !important;
}

/* .drum-games-container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.drums-wrapper {
    background-color: #b10dc9;
    width: 300px;
    height: 300px;
} */
